body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
}

div#csv {
    display: none;
}

div#notification {
    display: none;
    background-color: rgba(0,0,0,0.9);
    width: 100vw;
    height: 35px;
    position: absolute;
    top: 0;
    z-index: 99;
    font: bold 17px monospace;
    color: yellow;
    text-align: center;
    vertical-align: middle;
    animation-name: fade_out;
    animation-iteration-count: 1;
    animation-delay: 1s;
    animation-duration: 2s;
}

div#notification > * {
    padding: 9px;
    width: auto;
    height: 100%;
    vertical-align: middle;
}

#collage_button {
    background-image: url("Images/Icons/apps-sharp.svg");
    background-size: 14px;
    background-position: center;
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
    position: fixed;
    left: 15px;
    bottom: 10px;
    background-color: #ffffff;
    border: 1px solid gray;
    border-radius: 12px;
    margin: 0; 
    box-shadow: 0 0 5px 1px #ffffff;
}

div.item_card:has(div.gone) {
    color: red;
    background: red;
    border: 1px solid red;
}

#help_button {
    bottom: 10px;
}

#page_footer {
    position: fixed;
    bottom: 0;
    left: 12.5%;
}

div.gone img.photo_full,
img.gone, img.gone.color {
    filter: grayscale(0.75);
    box-shadow: none;
}

body.dark-mode div#carousel,
body.dark-mode div#carousel div#card_view,
body.dark-mode div#carousel div#card_view div.item_card,
body.dark-mode div#carousel div#card_view div.item_card div.item_name,
body.dark-mode div#carousel div#card_view div.item_card div.wrapper,
body.dark-mode div#carousel div#item_list {
    color: white;
    background-color: black;
}

.details {
    display: none;
    width: 94vw;
    height: auto;
    background: rgba(0,0,0,0.75);
    margin: 0px auto;
    white-space: wrap;
    padding: 7vw 2vw 12vw;
    vertical-align: middle;
    animation-name: ease;
    animation-direction: normal;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-out;
    position: relative;
    top: -98vw;
    left: 0;
    z-index: 1;
}

.details td:not(.grayed) {
    color: white;
}

@media only screen and (orientation: portrait) {
    
    #carousel, #messages {
        width: 98vw;
        height: 130vw;
        margin: auto;
        position: fixed;
        top: 10vw;
        left: 1vw;
    }

    #messages {
        display: block;
        overflow-wrap: break-all;
        white-space: pre-wrap;
        overflow-y: scroll;
        background: black;
        color: white;
        padding: 2.5% 0;
    }
    
    #messages > p {
        width: 95%;
        margin: 2px auto;
        display: block;
        font: 14px monospace;
        overflow-wrap: break-word;
    }
    
    #messages > hr {
        background-color: black;
        color: black;
        border: 0.5px solid darkgray;
        margin: 2px auto;
        width: 95%;
        height: 0;
    }
        
    #messages > p.message {
        color: white;
    }
    
    #messages > p.warning {
        color: orange;
    }
    
    #messages > p.error {
        color: red;
    }
    
    #messages > p.success {
        color: lime;
    }
    
    #messages > p.highlight {
        color: yellow;
    }
    
    #messages > p.note {
        color: gray;
    }
    
    #messages > p.option {
        color: lightblue;
        font-weight: bold;
    }
    
    #messages > p.clip {
        color: orange;
    }
    
    #card_view {
        width: 98vw;
        height: 108vw;
        margin: auto;
        display: flex;
        overflow-x: scroll;
        overflow-y: hidden;
        scroll-snap-type: x mandatory;
        scroll-direction: horizontal;
    }
    
    div.item_card {
        width: 98vw;
        height: 108vw;
        margin: auto;
        scroll-snap-align: center;
        scroll-margin: 0;
        flex: 0 0 auto;
    }
    
    div.item_name {
        width: 98vw;
        height: 10vw;
        margin: auto;
    }
    
    div.item_name > span {
        width: 100%;
        height: 100%;
        margin: auto;
        font-family: "Courier", monospace; 
        font: "Inconsolata"; 
        max-font-size: 20px; 
        font-weight: bolder; 
        text-transform: uppercase;
        overflow-x: scroll;
        text-wrap-mode: wrap;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    div.item_photo {
        width: 98vw;
        height: 98vw;
        margin: auto;
        background-color: transparent;
    }
    
    div.wrapper {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
    }
    
    img.photo_full {
        width: 100%;
        height: 100%;
    }
    
    img.logo {
        position: absolute;
        top: 7.5vw;
        right: 7.5vw;
        width: 12.5vw;
        height: 12.5vw;
    }

    div#carousel div#card_view div.item_photo img.grayed {
        filter: grayscale(1);
    }
    
    div#carousel div#card_view::-webkit-scrollbar {
        display: none;
    }

    div#carousel div#item_list {
        height: min(20vw, 20vh);
        width: 98vw;
        margin: 1vw auto;
        padding: 0;
        left: 0;
        background: transparent;
        overflow-x: scroll;
        overflow-y: visible;
        scroll-direction: horizontal;
        scroll-snap-type: x mandatory;
        vertical-align: middle;
        animation-name: ease;
        animation-direction: normal;
        transition-property: transform, height;
        transition-duration: 0.2s, 0.2s, 1s;
        transition-timing-function: ease-out;
        display: grid;
        grid-template-columns: repeat(9999, min(18.8vw, 18.8vh));
        grid-auto-rows: min(18.8vw, 18.8vh);
        grid-auto-columns: min(18.8vw, 18.8vh);
        grid-gap: min(1vw, 1vh);
    }
    
    div#carousel div#item_list img {
        scroll-snap-align: start;
        /*scroll-snap-stop: always;*/
        width: auto;
        height: 100%;
        opacity: 0.75;
        /*flex-margin: auto;
        flex-shrink: 0;*/
        white-space: wrap;
        margin: 0;
        padding: 0;
    }
    
    div#carousel div#item_list.shown {
        width: 98vw;
        height: 128vw;
        margin: auto
        padding: 0;
        top: 10vw;
        /*position: absolute;
        top: min(10vw, 10vh);*/
        transform: translate(0, -108vw);
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        /*grid-template-rows: repeat(999, 70px);*/
        grid-auto-rows: min(18.8vw, 18.8vh);
        grid-auto-columns: min(18.8vw, 18.8vh);
        grid-gap: 1vw;
        background: white;
        position: relative;
        top: 0;
        z-index: 99;
        overflow-y: scroll;
        scroll-direction: vertical;
        scroll-snap-type: y mandatory;
        /*flex-flow: row wrap;
        object-fit: contain;
        white-space: nowrap;*/
        animation-name: ease;
        animation-direction: normal;
        transition-property: transform;
        transition-duration: 0s;
        transition-timing-function: ease-in;
    }

    div#carousel div#item_list.shown img {
        margin: auto;
    }
    
    div#carousel div#item_list img.color {
        opacity: 1;
        filter: saturate(1);
    }
    
    div#carousel div#item_list img.grayed,
    div#carousel div#item_list img.grayed.color {
        filter: grayscale(1);
    }
    
    div#carousel div#item_list::-webkit-scrollbar {
        display: none;
    }
}
