@media only screen and (orientation: portrait) {
    
    #messages {
        width: 98vw;
        height: 130vw;
        margin: auto;
        position: fixed;
        top: 10vw;
        left: 1vw;
    }

    #messages {
        display: block;
        overflow-wrap: break-all;
        white-space: pre-wrap;
        overflow-y: scroll;
        background: black;
        color: white;
        padding: 2.5% 0;
        z-index: 90;
    }
    
    #messages > p {
        width: 95%;
        margin: 2px auto;
        display: block;
        font: 14px monospace;
        overflow-wrap: break-word;
    }
    
    #messages > hr {
        background-color: black;
        color: black;
        border: 0.5px solid darkgray;
        margin: 2px auto;
        width: 95%;
        height: 0;
    }
        
    #messages > p.message {
        color: white;
    }
    
    #messages > p.warning {
        color: orange;
    }
    
    #messages > p.error {
        color: red;
    }
    
    #messages > p.success {
        color: lime;
    }
    
    #messages > p.highlight {
        color: yellow;
    }
    
    #messages > p.note {
        color: gray;
    }
    
    #messages > p.option {
        color: lightblue;
        font-weight: bold;
    }
    
    #messages > p.clip {
        color: lightblue;
        background-color: rgba(255,255,255,0.1);
    }
    
    #messages > p.track {
        color: #33FFCC;
        background-color: rgba(0,0,0,0.5);
    }
    
    #messages > p.inline_action {
        text-align: center;
        color: white;
        font-weight: bold;
        text-shadow: 0px 0px 2px black;
        
        border-radius: 2px;
        border-bottom: 1px solid rgba(255,255,255,0.25);
        border-top: 1px solid rgba(255,255,255,0.25);
        animation: blinker 2s step-end infinite;
    }
    
    #messages > p.inline_action.critical {
        color: white;
        text-shadow: none;        
        background-color: rgba(255,0,0,0.1);
    }
    
    #messages > p > a.link {
        color: cyan;
        text-decoration: none;
    }
    
    #messages > p > span.codepath {
        color: silver;
        background-color: rgba(255,255,255,0.25);
        padding: 0px 4px;
        border-radius: 4px;
    } 
}

@keyframes blinker {
  50% {
    opacity: 0.8;
  }
}