/* ------- RESET STYLES ------- */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------- END RESET STYLES ------- */

html {
    height: 100%;
}

body {
    transition-property: background-color;
    transition-duration: 0.5s;
	background-color: #f7f7f7; 
	width: 390; 
    /*height: 844;*/
	padding-left: 10px; 
	padding-right: 10px; 
	padding-bottom: 20px;
	padding-top: 20px;
	font-family: monospace; 
	font-size: 18px; 
	color: #000000; 
	-webkit-text-size-adjust: none;
}

.dark-mode {
    transition-property: background-color;
    transition-duration: 0.5s;
    background-color: rgba(0,0,0,0.925);
    color: white;
}

body.logo {
    background-image: url("Images/Logos/TH Logo.PNG");
    background-position: 50% 50%;
    background-size: 300px;
    background-repeat: no-repeat;
}

/* ------- TOP MENU BAR ------- */

#topbar {
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 36px;
    background: rgba(0,0,0,0.75);
    margin: auto;
    /*padding-bottom: 10px;*/
}

#search_bar {
    background-image: url("Images/Icons/Ionic-Ionicons-Search.16.png");
    background-image: url("Images/Icons/search-sharp.svg");
    background-size: 16px;
    background-position: left 5px top 50%;
    background-repeat: no-repeat;
    background-color: rgba(255,255,255,0.9);
    font-family: monospace, "Inconsolata"; 
    font-size: 16px; 
    color: black;
    border-radius: 10px;
    position: relative; 
    left: 50%;
    top: 5px;
    transform: translate(-50%);
    height: 16px;
    width: 50%;
    margin: auto;
    box-shadow: 0 0 5px 1px #ffffff;
    text-indent: 16px;
    text-align: left;
    outline: none;
    vertical-align: center;
    justify-content: center;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-decoration-color: #000000;
    text-underline-offset: 3px;
}

input.search_bar {
    display: inline;
    background-image: url("Images/Icons/Ionic-Ionicons-Search.16.png");
    background-image: url("Images/Icons/search-sharp.svg");
    background-size: 16px;
    background-position: left 5px top 50%;
    background-repeat: no-repeat;
    background-color: rgba(255,255,255,1);
    font-family: monospace, "Inconsolata"; 
    font-size: 16px; 
    color: black;
    border-radius: 10px;
    margin: auto;
    box-shadow: 0 0 5px 1px #ffffff;
    text-indent: 16px;
    text-align: left;
    outline: none;
    vertical-align: center;
    justify-content: center;
    width: 64px;
}

input.search_bar:disabled {
    background-color: white;
    opacity: 1;
    color: black;
}

#left_button {
    background-image: url("Images/Icons/Ionic-Ionicons-Menu.16.png");
    background-image: url("Images/Icons/menu.svg");
    background-size: 16px;
    background-position: center;
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
    position: fixed;
    left: 15px;
    top: 5px;
    background-color: #ffffff;
    border: 1px solid gray;
    border-radius: 12px;
    margin: 0; 
    box-shadow: 0 0 5px 1px #ffffff;
}

input.left_button {
    float: left;
    display: inline;
    background-image: url("Images/Icons/Ionic-Ionicons-Menu.16.png");
    background-image: url("Images/Icons/menu.svg");
    background-size: 16px;
    background-position: center;
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
    background-color: #ffffff;
    border: 1px solid gray;
    border-radius: 12px;
    margin: auto;
    margin-right: 18px;
    box-shadow: 0 0 5px 1px #ffffff;
    vertical-align: center;
    justify-content: center;
}

#right_button {
    background-image: url("Images/Icons/settings-outline.svg");
    background-size: 16px;
    transform: rotateY(180deg);
    background-position: center;
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
    position: fixed;
    right: 15px;
    top: 5px;
    background-color: #ffffff;
    border: 1px solid gray;
    border-radius: 12px;
    margin: 0; 
    box-shadow: 0 0 5px 1px #ffffff;
}

input.right_button {
    float: left;
    display: inline;
    background-image: url("Images/Icons/settings-outline.svg");
    background-size: 16px;
    background-position: center;
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
    background-color: #ffffff;
    border: 1px solid gray;
    border-radius: 12px;
    margin: 0; 
    margin-right: 18px;
    box-shadow: 0 0 5px 1px #ffffff;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: fixed;
    right: 0;
    top: 35px;
    background-color: transparent;
    z-index: 10;
    width: 39px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#mode_button {
    background-image: url("Images/Icons/Ionic-Ionicons-Toggle-outline.16.png");
    background-image: url("Images/Icons/toggle-outline.svg");
    background-size: 16px;
    transform: rotateY(180deg);
    background-position: center;
    background-repeat: no-repeat;
    position: static;
    right: 15px;
    height: 24px;
    width: 24px;
    background-color: #ffffff;
    border: 1px solid gray;
    border-radius: 12px;
    margin: 5px auto; 
    box-shadow: 0 0 5px 1px #ffffff;
}

body.dark-mode #mode_button
{
    background-image: url("Images/Icons/Ionic-Ionicons-Toggle.16.png");
    background-image: url("Images/Icons/toggle.svg");
    background-size: 16px;
    transform: rotateY(0deg);
}

#view_button {
    background-image: url("Images/Icons/apps-sharp.svg");
    background-size: 16px;
    background-position: center;
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
    position: static;
    right: 15px;
    border-radius: 12px;
    border: 1px solid gray;
    background-color: #ffffff;
    margin: 5px auto; 
    padding: 0;
    box-shadow: 0 0 5px 1px #ffffff;
    z-index: 10;
}

#details_button {
    background-image: url("Images/Icons/newspaper-outline.svg");
    background-size: 16px;
    background-position: center;
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
    position: static;
    right: 15px;
    border-radius: 12px;
    border: 1px solid gray;
    background-color: #ffffff;
    margin: 5px auto; 
    padding: 0;
    box-shadow: 0 0 5px 1px #ffffff;
    z-index: 10;
}


::placeholder {
    color: gray;
    text-align: center;
    text-transform: normal;
}

#counter  {
    font: "Inconsolata", monospace; 
    font-size: 16px; 
    color: black;
    border-radius: 10px;
    position: fixed; 
    right: 20%;
    top: 5px;
    transform: translate(-50%);
    height: 24px; 
    margin: auto;
    text-align: right;
    width: 40px;
    border: none;
    z-index: 10;
    margin: auto;
    padding: 0;
    background-color: transparent;
}

#clear_button {
    background-image: url("Images/Icons/reload-outline.svg");
    background-size: 16px;
    background-position: center;
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
    position: static;
    right: 15px;
    border-radius: 12px;
    border: 1px solid gray;
    background-color: #ffffff;
    margin: 5px auto; 
    padding: 0;
    box-shadow: 0 0 5px 1px #ffffff;
    z-index: 10;
}

#help_button {
    background-image: url("Images/Icons/help-circle-outline.svg");
    background-position: center;
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
    position: fixed;
    right: 15px;
    bottom: 30px;
    background-color: #ffffff;
    border: 1px solid gray;
    border-radius: 12px;
    margin: 0; 
    box-shadow: 0 0 5px 1px #ffffff;
}


/* ------- END TOP MENU BAR */

#site_name_part1, #site_name_part2 {
    color: black;
    font-weight: bold;
    text-align: center;
    /*animation-name: fade_in;
    animation-duration: 2s;*/
    background: transparent;
    margin: 0px;
    padding: 0px;
}

#site_name_part1 {
    font-family: cursive;
    font-size: 72px;
    color: rgba(0,0,0,0.75);
    margin-top: 24px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: black;
    text-underline-offset: 8px;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

#site_name_part2 {
    font-family: Copperplate, Papyrus, fantasy;
    font-size: 18px;
    margin-bottom: 24px;
    letter-spacing: 0.8em;
    text-indent: 0.8em;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
    /*-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;*/
}

h1.section_header {
    width: 100%;
    font-family: monospace;
    font-size: 20px;
    font-weight: bold;
    margin: auto;
    background: transparent;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    text-decoration: underline;
}

h1.section_subheader {
    width: 100%;
    font-family: monospace;
    font-size: 16px;
    font-weight: normal;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    text-decoration: underline;
}

h2.section_subheader {
    width: 100%;
    font-family: monospace;
    font-size: 16px;
    font-weight: normal;
    margin: auto;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    padding: 0;
}

body.dark-mode #site_name_part1, body.dark-mode #site_name_part2 {
    text-shadow: 0px 0px 5px rgba(255,255,255,0.75);
    text-decoration-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

div {
    transition-property: background-color;
    transition-duration: 0.5s;
	background-color: #ffffff;
}

div.float {
	width: 100%; 
    display: block;
    float: left;
    transition-property: background-color;
    transition-duration: 0.5s;
    background-color: #ffffff:
    margin: auto;
    margin-bottom: 20px;
    border-bottom: 1px solid #eaeaea;
    border-top: 1px solid #eaeaea;
    border-radius: 10px;
    padding-bottom: 20px;
}

div.hidden {
    display: none;
}

.series {
	font-family: "Courier", monospace; 
	font: "Inconsolata"; 
	font-size: 16px; 
	letter-spacing: 0.05em; 
	text-align: center; 
	color: #000000; 
	text-transform: uppercase;
}

summary > h1 {
	width: 100%;
	font-family: "Courier", monospace; 
	font: "Inconsolata"; 
	font-size: 16px; 
	font-weight: bolder; 
	text-transform: uppercase;
	text-align: center; 
	text-wrap-style: auto; 
	text-decoration: underline;
	text-decoration-style: solid;
	text-decoration-color: #000000;
	text-decoration-thickness: 2px;
	text-underline-offset: 3px;
    transition-property: background-color;
    transition-duration: 0.5s;
	background-color: #ffffff; padding-top: 5px; 
	padding-bottom: 5px; 
	/*padding: 5px;*/
	margin: auto;
	margin-top: 20px;
	border-radius: 7px;
}

details {
	background-color: none;
	width: 100%;
}

.photo {
	width: 75%; 
	display: block; 
	margin-left: auto; 
	margin-right: auto;
	margin-top: 20px; 
	margin-bottom: 10px;
	border-radius: 7px; 
	padding: 7px;
	box-shadow: 3px 3px 10px 2px rgba(50,50,50,0.3);
	padding-bottom: 40px;
	background-color: #ffffff;
}

.screenshot {
    width: 100%;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px;
	border-radius: 7px;
	background-color: transparent;
}

.wrapper {
	position: relative; 
	width: 100%;
}

img.logo {
	position: absolute; 
	top: 15px; 
	right: 55px;
}

p.comment {
	position: absolute;
	bottom: 10px;
    right: 50px;
	font-family: cursive;
	font-size: 22px;
	font-weight: bold;
	text-decoration: underline;
	text-underline-offset: 3px;
	color: #000000;
}

p.tag {
	position: absolute;
    bottom: 10px;
    right: 50px;
	font-family: monospace;
	font-size: 18px;
	font-weight: bold;
	text-decoration: underline;
	text-underline-offset: 3px;
	color: #ffe363;
	text-shadow: 1px 1px 1px #000000;
    /*-webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: black;*/
}

p.facts {
	position: absolute;
    bottom: 10px;
    right: 50px;
	font-family: monospace;
	font-size: 18px;
	font-weight: bold;
	color: #000000;
}

#results {
	width: 100%; 
	/*height: 100%;*/
	margin-top: 30px;
}

/* HIDE ARROW FROM SUMMARY ELEMENT */
summary {
	list-style-type: none;
}

details > summary::marker, /* Latest Chrome, Edge, Firefox */ 
details > summary::-webkit-details-marker, /* Safari */ {
	display: none;
}

details[close] > summary {
	width: 0; margin-top: -20px;
}

details[open] > summary ~ * {
	animation: sweep .25s ease-in-out;
}

@keyframes sweep {
	0%    {opacity: 0; transform: translateY(-20px)}
    100%  {opacity: 1; transform: translateY(0)}
}
/* END */


body.dark-mode body {
    background-color: rgba(0,0,0,0.92.5);
}

body.dark-mode h1,
body.dark-mode #results,
body.dark-mode .searchable,
body.dark-mode .wrapper {
    transition-property: background-color;
    transition-duration: 0.5s;
    background-color: #000000;
}

body.dark-mode .searchable {
    box-shadow: 0 0 10px 1px rgba(255,255,255,0.25);
    border-top: 1px solid rgba(255,255,255,0.5);
    border-bottom: 1px solid rgba(255,255,255,0.5);
}

body.dark-mode h1 { 
    text-decoration-color: #ffffff;
}

body.dark-mode img {
    filter: brightness(0.75);
}

div.collection_status,
body.dark-mode div.collection_status,
div.collection_status > table.collection_status,
div.searchable > table.store,
body.dark-mode div.searchable {
    background: transparent;
    box-shadow: none;
    border: none;
}

body.dark-mode td:not(.tag) {
    color: #ffffff;
} 

body.dark-mode td.grayed {
    color: gray;
}

table {
	width: 100%; 
	margin-top: 15px;
	font-family: "Courier", monospace; 
}

table.collection_status, table.store {
    width: 100%;
    overflow: hidden;
}

table.collection_status td {
    font-weight: normal;
}

tr {
	padding: 10px; 
}

td:not(.grayed) {
	font-family: "Courier", monospace;
	font: "Inconsolata"; 
	font-size: 14px; 
	color: #000000; 
	font-weight: bolder; 
	text-transform: uppercase;
	padding: 5px;
}

td.grayed {
	font-family: "Courier", monospace;
	font: "Inconsolata"; 
	font-size: 14px; 
	color: #c1c1c1;
	padding: 5px; 
	padding-right: 10px;
}

td.right {
	text-align: right;
}

td.tag {
	font: 'Inconsolata';
	font-size: 14px; 
	color: #ffe363;
	text-shadow: 1px 1px 1px #000000;
}

td.missing {
    color: gray;
    text-decoration: line-through;
}

table.stats td.key {
    text-align: right;
    color: black;
    font-weight: normal;
}

body.dark-mode table.stats td.key {
    color: white;
}

table.stats td.value {
    color: green;
    font-weight: bold;
}

table.collection_status td.bold {
    font-weight: bold;
}

td.day {
    font-weight: normal;
    text-align: left;
    color: #000000;
}

td.date {
    font-weight: normal;
    text-align: right;
    color: #000000;
}

tr.subheader, body.dark-mode tr.subheader {
    background-color: #000000;
    width: 100%;
}

tr.subheader > td {
    vertical-align: middle;
    font-weight: bold;
}

body.dark-mode tr.subheader {
    background-color: #ffffff;
}

body.dark-mode tr.subheader > td:not(.grayed, .tag, .full_collection, .almost_full_collection, .half_full_collection, .barely_full_collection) {
    color: #000000;
}

tr.subheader > td {
    color: #ffffff;
}

tr.subheader > td.full_collection, 
td.full,
body.dark-mode td.full,
span.full {
    color: limegreen;
}

tr.subheader > td.almost_full_collection, 
td.almost_full,
body.dark-mode td.almost_full, 
span.almost_full {
    color: lightblue;
}

tr.subheader > td.half_full_collection, 
td.half_full,
body.dark-mode td.half_full, 
span.half_full {
    color: orange;
}

tr.subheader > td.barely_full_collection, 
td.barely_full, 
body.dark-mode td.barely_full, 
span.barely_full {
    color: red;
}

tr.subheader > td.store_name {
    color: #ffffff;
    /*letter-spacing: 2px;*/
    font-weight: bolder;
}

tr.subheader > td.address {
    color: gray;
    font-weight: normal;
}

td.inventory {
    text-align: right;
}

td.timelapse {
    text-align: right;
    color: gray;
    font-weight: normal;
}

td.bigtext {
    text-align: center;
    font-size: 20px;
    padding-top: 0;
    text-indent: 3px;
}

td.bignum {
    text-align: center;
    padding-bottom: 0;
    font: bold 36px Verdana, Geneva, sans-serif;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}  

/* ------- MENU OVERLAY ------- */
#menu {
    background-color: transparent;
    display: block;
    position: fixed;
    top: 25%;
    left: 0;
    z-index: 9;
}

#menu .overlay-content {
    background-color: rgba(0,0,0,0.9);
}

#main_page_menu {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: rgba(0,0,0,0.9);
}

.overlay {
  height: auto;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 36px;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 28px;
  background-color: none;
}

.overlay a {
  text-decoration: none;
  font-size: 24px;
  color: #818181;
  display: block;
  padding: 8px;
  /*animation-delay: 0.5s;
  transition: 0.5s;
  opacity: 0.5;
  transition: opacity 0.5s ease-in;*/
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

#menu_close_button {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 60px;
  transition-property: color;
  transition-duration: 5s;
  color: white;
  z-index: 1;
}

#menu_close_button.closed {
    display: none;
}

/*@media screen and (max-height: 450px) {
  .overlay a {font-size: 16px}
  .overlay .closebtn {
  font-size: 20px;
  top: 15px;
  right: 35px;
  }
}*/

#menu > .overlay-content > p.subheader, #main_page_menu > .overlay-content > p.subheader {
    text-transform: uppercase;
    text-align: center;
    font-family: monospace;
    font-size: 24px;
    color: white;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-color: gray;
    letter-spacing: 0.25em;
    text-indent: 0.25em;
    padding-top: 18px;
}

#menu > .overlay-content > .separator, #main_page_menu > .overlay-content > .separator {
    color: gray;
    width: 75%;
    height: 8px;
    margin: auto;
    text-align: center;
}

#menu_list p, #menu_list a {
    opacity: 1;
}

.fade-out { 
    animation-name: fade_out;
    animation-iteration-count: 1;
	animation-duration: 0.5s;
}

@keyframes fade_out {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

.fade-in {
    animation-name: fade_in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-duration: 0.5s;
    animation-direction: forwards;
}

@keyframes fade_in {
    0% {opacity: 0};
    100% {opacity: 1};
}

#frame {
    width: 100%;
}

#frame > div.searchable {
    display: none;
}

#page_footer {
    animation-name: fade_in;
    animation-duration: 2s;
    display: block;
    margin: auto;
    padding: 0px;
	width: 75%;
    height: auto;
	font-family: monospace; 
	font-size: 14px; 
	color: gray; 
    text-align: center;
    border: none;
    background-color: transparent;
}

#page_footer > a, #page_footer > p > a {
    transition-property: color;
    transition-duration: 0.5s;
    color: black;
    font-weight: bolder;
    font-size: 12px;
    text-decoration: none;
    margin: auto;
    transition-property: background-color;
    background-color: white;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 1px 3px;
}

#empty_space {
    width: 100%;
    height: 20px;
    margin: auto;
    margin-top: 20px;
    display: block;
    clear: both;
    float: none;
    background: none;
}

div.empty_space {
    width: 100%;
    height: 10px;
    margin: auto;
    display: block;
    clear: both;
    float: none;
    background: none;
}

body.dark-mode #page_footer > a, body.dark-mode #page_footer > p > a {
    background-color: black;
    color: white;
}

#page_footer.fixed-position {
    position: fixed;
    bottom: 0;
    padding-bottom: 20px;
    transform: translateX(12.5%);
}

/*      ---- SLIDESHOW ----        */

#slideshow > img {
  display: block;
}

#slideshow {
  overflow: hidden;
  height: 300px;
  max-width: 360px;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-gap: 0px;
  margin: auto;
  margin-top: 42px;
  background-color: transparent;
}

.gallery {
  overflow: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.gallery__img {
  scroll-snap-align: start;
  margin-bottom: 0px;
  /*min-height: 100vh;*/
  object-fit: cover;
  max-height: 300px;
}

.lil-nav {
  overflow-y: scroll;
  overflow-x: hidden;

  a {
    height: 50px;
    display: flex;
    margin-bottom: 5px;
  }
}

.lil-nav__img {
  object-fit: cover;
  filter: saturate(0);
  transition: 0.3s ease all;

  &:hover {
    transform: scale(1.05);
    filter: saturate(1);
  }
}

#about {
    width: 100%;
    height: 400px;
    background: transparent;
}

#about > .wrapper {
    background: transparent;
}

#about > .wrapper > img {
    
}

#about > p {
    font: bold 18px monospace;
    color: black;
    margin-top: 24px;
    margin-bottom: 24px;
}

@keyframes pulse {
  0% { transform: scale(1); }
  25% { transform: scale(.9); }
  50% { transform: scale(1); }
  75% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

div.faq {
    width: 100%;
    clear: both;
    border: none;
    box-shadow: 0px 3px 5px #333;
    background: transparent;
}

div.faq > div.question {
    float: left;
    width: 80%;
    margin-bottom: 12px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background: black;
    margin-left: 12px;
    color: white;
    border-radius: 15px;
}

div.faq > div.answer {
    float: right;
    width: 80%;
    margin-bottom: 12px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background: transparent;
    margin-right: 12px;
    border: 1px solid #999;
    border-radius: 15px;
}

div.faq > div.question > p {
    font-weight: bolder;
}

div.faq > div.question > p,
div.faq > div.answer > p {
    font: 16px Verdana;
}

body.dark-mode div.faq > div.question {
    box-shadow: 0px 0px 5px 1px red;
}

body.dark-mode div.faq > div.answer {
    border-color: lime; 
}

div.faq > div.answer > p:nth {
    margin-top: 12px;
}

div.preview {
    font-family: Verdana;
    width: 100%;
    background: transparent;
    height: 128px;
    border: none;
    overflow: hidden;
    padding: 0;
    box-shadow: 3px 3px 10px gray;
    margin-bottom: 36px;
}

div.preview > div:not(label), div.preview > table {
    opacity: 0.35;
    top: 0; left: 0;
    width: 100%;
    position: relative;
    top: -16px;
}

div.preview > a.label {
    z-index: 2;
    opacity: 1.0;
    width: 75%;
    font-size: 28px;
    color: #000000;
    background-color: transparent;
    position: absolute;
    border: none;
    border-radius: 25px;
    display: block;
    /*justify-content: space-around;*/
    top: 25%; left: 12.5%;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.25);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
    text-decoration: none;
}

body.dark-mode div.preview > a.label {
    color: black;
    text-shadow: 2px 2px 5px rgba(255,255,255,0.25);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ffffff;
}

body.dark-mode div.preview {
    box-shadow: none;
    box-shadow: 0px 0px 1px white;
}

    
div.preview {
    font-family: Verdana;
    width: 100%;
    background: transparent;
    height: 128px;
    border: none;
    overflow: hidden;
    padding: 0;
    box-shadow: 3px 3px 10px gray;
    margin-bottom: 36px;
}

div.preview > div:not(label), div.preview > table {
    opacity: 0.35;
    top: 0; left: 0;
    width: 100%;
    position: relative;
    top: -16px;
}

div.preview > a.label {
    z-index: 2;
    opacity: 1.0;
    width: 75%;
    font-size: 28px;
    color: #000000;
    background-color: transparent;
    position: absolute;
    border: none;
    border-radius: 25px;
    display: block;
    /*justify-content: space-around;*/
    top: 25%; left: 12.5%;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.25);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
    text-decoration: none;
}

body.dark-mode div.preview > a.label {
    color: black;
    text-shadow: 2px 2px 5px rgba(255,255,255,0.25);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ffffff;
}

body.dark-mode div.preview {
    box-shadow: none;
    box-shadow: 0px 0px 1px white;
}

div.apps-3 {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-left: 12.5%;
}

div.apps-4 {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 0;
}

div.app {
    width: 25%;
    float: left;
    background: transparent;
    margin: auto;
    text-align: center;
    vertical-align: center;
}

div.app img {
     width: 50px;
     display: block;
     margin: 0px auto;
     border: none;
     border-radius: 10px;
     box-shadow: 2px 2px 3px rgba(0,0,0,0.5)
 }
 
body.dark-mode div.app img {
     border: none;
 }

div.app p.name {
     width: 100%;
     font: bold 10px Verdana;
     margin: auto;
     text-align: center;
 }

span.pythonista,
span.textastic,
span.working_copy,
span.files,
span.photos,
span.shortcuts,
span.numbers,
span.camera,
span.datajar {
    height: 20px;
    font-weight: medium;
    padding-right: 2px;
    vertical-align: center;
    display: inline-block;
    
    background-size: 16px;
    background-repeat: no-repeat;
    background-position-x: 2px;
    background-position-y: 2px;
    text-indent: 20px;
    border: 1px dotted rgba(0,0,0,0.05);
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.25);
    }

span.pythonista,
span.pythonista.banner > span.logo {
    background-image: url(Images/Logos/Pythonista.PNG);
}

span.photos, 
span.photos.banner > span.logo {
    background-image: url('Images/Logos/Photos.PNG');
}
 
 /*body.dark-mode span.photos {
     background-image: url('Images/Logos/Dark-Mode Photos.PNG');
 }*/
 
span.files, 
span.files.banner > span.logo {
    background-image: url('Images/Logos/Files.PNG');
}
 
 /*body.dark-mode span.files {
     background-image: url('Images/Logos/Dark-Mode Files.PNG');
 }*/
 
span.working_copy, 
span.working_copy.banner > span.logo {
    background-image: url('Images/Logos/Working Copy.PNG');
}
 
span.shortcuts, 
span.shortcuts.banner > span.logo {
    background-image: url('Images/Logos/Shortcuts.PNG');
}

span.numbers, 
span.numbers.banner > span.logo {
    background-image: url('Images/Logos/Numbers.PNG');
}

span.textastic, 
span.textastic.banner > span.logo {
    background-image: url('Images/Logos/Textastic.PNG');
}

span.camera, 
span.camera.banner > span.logo {
    background-image: url('Images/Logos/Camera.PNG');
}

span.datajar, 
span.datajar.banner > span.logo {
    background-image: url('Images/Logos/DataJar.PNG');
}

span.logo {
    display: inline-block;
    text-indent: none;
    border: none;
    border-radius: 6px;
    width: 28px;
    height: 28px;
    padding: 0px;
    margin: 0px;
    background-size: 30px;
    background-position: center;
    overflow: visible;
    vertical-align: bottom;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.5)
}
 
span.banner {
    background: none;
    text-indent: 0px;
}

body.dark-mode span.banner {
    text-decoration: underline;
}
 
span.banner > span.logo {
    height: 16px;
    width: 16px;
    background-size: 16px;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    box-shadow: none;
    display: inline-block;
    border-radius: 4px;
    margin: 2px;
    border: 1px solid #fff;
}
 
span.large_logo {
    display: inline-block;
    text-indent: none;
    border: none;
    border-radius: 12px;
    width: 56px;
    height: 56px;
    padding: 0px;
    margin: 0px;
    background-size: 60px;
    background-position: center;
    overflow: visible;
    vertical-align: bottom;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.5)
}

div.collage {
    width: 100%;
    text-align: center;
    padding: 0px;
    margin: 0;
    background-color: transparent;
}

div.collage > div.searchable > details, div.collage > div.searchable > div.wrapper > p, div.collage > div.searchable > * {
    display: none;
}

div.collage > div.manufacturer {
    width: 100%;
    background-color: transparent;
}

div.collage > div.manufacturer > img.logo {
    display: block;
    position: static;
    height: 156px;
    margin: auto;
    background-color: transparent;
}

div.collage > div.searchable {
    display: block;
    width: 33.3%;
    float: left;
    padding: 0;
    margin: 0;
    border: none;
    box-shadow: none;
}

div.collage > div.searchable div.wrapper {
    display: block;
}

div.collage > div.searchable div.wrapper > a > img.photo {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

div.collage > div.searchable img.logo {
    top: 5px;
    right: 5px;
    height: 20px;
    width: 20px;
}

